
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0; 
  margin: 0;
  text-align: left;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.project_col{
  overflow: scroll;
}

body{
  background-color: #000;
  height:max-content;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
 
}
.all_wrapper{
  width: 64.7%;
  height:max-content;
}
.top{
  width:100%;
  padding:50px 0 50px 0;
  display: flex;
  justify-content:space-between;
}
.line{
  width:100%;
  border: 1px #fff dashed;
  margin:1vw 0 1vw 0;
}
.main_img{
  width:100%;
  height:200px;
  background-color: #fff;
}
.op{
  text-align: right;
  font-size: 500px;
}
.main{
  width:100%;
  height:30vw;
  display: flex;
  justify-content: space-around;
}
.user_profile{
  width:28%;
  height:30vw;
}
.user_profile>div{
  margin-top:1.3vw;

}
.h_line{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag{
  margin-bottom:0.3vw;
  font-size: 1vw;
}
.title{
  margin-bottom:0.2vw;
}
.h_line1{
  height:10vw;
  border: 1px #fff dashed;
  width:0;
}
.h_line2{
  height:18vw;
  width:0;
  border: 1px #fff dashed;
}
.project{
  width:72%;
  height:fit-content;
  overflow: hidden;
  margin: 0.9vw 0 0 1vw;
}
.project_op{
  min-width:20vw;
  height:10vw;
  background-color: blue;
  margin-right:1vw;
}
.project_col{
  display: flex;
  justify-content: space-between;
}
.inner_project{
  margin-top:1vw;
}
.view_project{
  /* display: flex;   
  flex-direction: column;
  justify-content: end; */
  position: fixed;
  right:3%;
  bottom:0;
}
.intro{
  font-size: 0.8vw;
}
.skill_op{
  font-size: 1vw;
}
.op{
  font-size: 1vw;
  margin-bottom: 0.5vw;
  text-align: right;
}
.title{
  font-size: 1vw;
}
.skill_op, .lisence_op, .email_op{
  font-size: 1vw;
}
.project_view{
  font-size: 1vw;
  margin-bottom:0.5vw;
}
.project_view_title{
  font-size: 1.5vw;
  font-weight: bold;
}